body {
    margin: 0;
    padding: 0;


    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    background-color: #dcdcdc;
}

.contentPending {
    margin-top: 70px;
    padding-top: 25px;
    font-size: 3vh;
}

#underConstructionImage {
    margin-top: 15vh;
    height: 10vw;
    width: 10vw;
}